/* line 1, ../../app/_scss/cover.scss */
body {
  font-size: 14px;
  line-height: 1.6;
  font-family: Helvetica, arial, sans-serif;
}

/* line 7, ../../app/_scss/cover.scss */
h1 {
  padding: 0;
  cursor: text;
  color: black;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin: 20px 0 10px;
  -webkit-font-smoothing: antialiased;
}

/* line 19, ../../app/_scss/cover.scss */
.cover h1 {
  font-size: 80px;
  font-weight: 300;
  text-align: center;
}
/* line 25, ../../app/_scss/cover.scss */
.cover h2 {
  text-align: center;
}

/* line 30, ../../app/_scss/cover.scss */
.abstract {
  max-width: 400px;
  page-break-before: always;
}
